<li id="to_do_list_item<%= to_do_list_item.id %>">
  <%= best_in_place to_do_list_item, :content, url: to_do_list_item_url(to_do_list_item) %>
  <%= link_to "Delete", to_do_list_item_url(to_do_list_item), method: :delete, class: 'btn btn-danger btn-sm', remote: true %>
</li>
