<% if @user %>
  <% if @user.to_do_lists.any? %>
    <div class="row">
      <% @user.to_do_lists.each do |to_do_list| %>
        <%= render to_do_list %>
      <% end %>
    </div>
  <% else %>
    <h3><%= I18n.t('to_do_list.no_lists') %></h3>
  <% end %>
  <%= link_to I18n.t('to_do_list.add'), new_to_do_list_path, class: 'btn btn-primary btn-lg' %>
<% else %>
  <h3><%= I18n.t('to_do_list.login') %></h3>
<% end %>
