footer {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.card {
  padding: 10px;
  margin: 15px;
}

.table {
  margin-top: 25px;
}

td {
  width: auto;
}

.best_in_place {
  display: block;
}
