<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to "Sign up", signup_path, class: 'nav-link' %>
    </li>
  </ul>
  <ul class="navbar-nav float-right">
    <li class="nav-item">
      <%= link_to "Log in", login_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>
